<script setup lang="ts">
import MessageBox from '@/components/MessageBox.vue';
import MessageList from '@/components/MessageList.vue';

import { ref ,nextTick} from 'vue';
const messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['สวัสดีจ้า','ไปไหนมาเบ๋อ','กินข้าวยังง่ะ','ไม่คุยด้วยล้า']
function send(message: string){
  messages.value.push(message)
  answerWithComputer()

}
function answerWithComputer() {
  const answer = answers[Math.floor(Math.random()*10000)%answers.length]
  console.log(answer)
  messages.value.push(answer)
  nextTick(() => {
    messageList.value?.updateUI()
  })
}
</script>

<template>
  <div>
    <MessageList ref="messageList" :messages="messages"></MessageList>
    <MessageBox @send="send"></MessageBox>
  </div>
</template>
